@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

.container {
  max-width: min(calc(100vw - 100px), 951px);
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  gap: 1rem;
}

@media screen and (max-width: 430px) {
  .container {
    margin-left: calc((100vw - 300px - 1rem)/2);
  }
}

.card {
  margin: 10px;
  background-color: #fff;
  overflow: hidden;
  width: 300px;
  border: 2px solid var(--card-border);
  height: 458px;
  border-radius: 18px;
}

.card .face {
  transition: 0.5s;
}

.card .face.face1 {
  position: relative;
  z-index: 1;
  transform: translateY(-462px);
}

.card .face.face2 {
  position: relative;
  color: white;
  box-sizing: border-box;
  transform: translateX(-300px);
  z-index: 2;
}

.card .face.face2 img {
  height: 458px;
  width: 300px;
  object-fit: cover;
}

.card:hover .face.face2,
.card>a:focus .face.face2 {
  transform: translateX(0);
}

.card>a {
  text-decoration: none;
  color: inherit;
}

.face.face2 {
  position: relative;
  text-align: center;
  color: white;
}

.face.face2 .centred-img-text {
  position: absolute;
  top: 50%;
  left: 0;
  margin: 0 1rem;
  transform: translate(0%, -50%);
  font-weight: 600;
  font-size: 3rem;
  text-align: start;
  opacity: 1;
}

.card-header img {
  height: 200px;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  height: 258px;
}

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
  cursor: pointer;
}

.tag-teal {
  background-color: #47bcd4;
}

.tag-purple {
  background-color: #5e76bf;
}

.tag-pink {
  background-color: #cd5b9f;
}

.card-body p {
  font-size: 13px;
  margin: 0 0 40px;
}

.user {
  display: flex;
  margin-top: auto;
}

.user img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.user-info h5 {
  margin: 0;
}

.user-info small {
  color: #545d7a;
}