@import 'main.css';

.button {
  border-radius: 6px;
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  display: block;
  min-height: 50px;
  font-size: 18px;
  padding-top: 10px;
  font-weight: 600;
  text-decoration: none;
  z-index: 2;
  text-align: center;
  background-color: var(--accent-color);
  color: #ffff;
}

.button:hover {
  background-color: var(--card-background);
  color: var(--accent-color);
}