@import 'main.css';

:root {
  --header-font-size: 7rem;
  --header-before-font-size: 1.4rem;
  --sub-header-font-size: 2rem;
}

/* Size the header to fit screen width. */
@media screen and (max-width: 810px) {
  :root {
    --header-font-size: 14vw;
    --header-before-font-size: 2.8vw;
    --sub-header-font-size: 3.8vw;
  }
}

header.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: var(--header-color);
  font-weight: 600;
}

h1 {
  color: var(--header-color);
  font-size: var(--header-font-size);
  margin: 5rem 0.8rem 0;
  text-align: center;
  width: 100%;
}

h1::before {
  content: 'Hi there 👋, I\'m';
  position: absolute;
  font-size: var(--header-before-font-size);
  top: 4rem;
}

header p {
  text-align: center;
  margin-bottom: var(--sub-header-font-size);
  width: 100%;
  font-size: var(--sub-header-font-size);
}

.span-dot {
  color: var(--accent-color);
}

/* -------------------------------------------------------------------------- */


/* ------------------------------- Navigation. ------------------------------ */

nav {
  width: 100%;
  /* Same as timeline. */
  max-width: 47rem;
  display: flex;

  border: 2px solid var(--card-border);
  border-radius: 18px;
  margin: 0 0.8rem 3rem;

  overflow: hidden;

  font-size: 1.25rem;
}

@media screen and (max-width: 580px) {
  nav {
    font-size: 1rem;
  }
}

@media screen and (max-width: 530px) {
  nav {
    font-size: 0.9rem;
  }
}

nav a {
  text-decoration: none;
  color: var(--card-border);
  font-weight: 600;

  flex-grow: 1;
  width: 100%;
  text-align: center;

  background-color: var(--card-background);

  /* Center div inside for when text wrap makes uneven heights. */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* By having padding inside the link the whole area is clickable */
nav a .inner {
  padding: 1rem;
}

/* Change properties on hover to indicate clickable to user. */
nav a:hover {
  background-color: var(--accent-color);
}

nav a:hover {
  color: var(--card-background);
}

/* -------------------------------------------------------------------------- */


/* !------------------------- ! Currently Unused ! -------------------------! */


/* Span classes for sub-domain colouring in testing. */
.span-blog {
  color: var(--blog-color-main);
}

.span-dev {
  color: var(--dev-color-main);
}

.span-journey {
  color: var(--journey-color-main);
}