@import 'main.css';


/* ------------------------------- Grid Layout ------------------------------ */

/* TODO: For responsive grid have a media breakpoint that turns it single column. */
/* TODO: May have to use different column templates, eg 1fr 1fr with projects
spanning 2, then auto row height with timeline and blog/cv-container, instead 
of defining by grid-areas.*/
.main-grid-parent {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  max-width: min(calc(100vw - 100px), 951px);
  margin: auto;
  margin-top: 2.5rem;
  height: fit-content;
}

#my-projects {
  grid-area: 1 / 1 / 3 / 7;
}

/* The my-projects card is a grid with two cols at max size. */
#my-projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* My projects card falls to two rows when screen is <950px */
@media screen and (max-width: 950px) {
  #my-projects-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

#blog-cv-container {
  grid-area: 3 / 4 / 6 / 7;
  display: grid;
  gap: 50px;
}

#timeline {
  grid-area: 3 / 1 / 6 / 4;
}

#socials-container {
  grid-area: 6 / 1 / 7 / 7;
  display: grid;
  /* TODO: Make socials self contained in size and use a psuedoelement. */
  /* TODO: For responsivity have a media breakpoint where goes from 1 row 2 col to 2 row 1 col. */
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 200px;
  gap: 50px;
  max-width: 100%;
  margin-bottom: 60px;
}


*,
::after,
::before {
  box-sizing: border-box;
}


/* -------------------------------------------------------------------------- */


/* ------------------------------- Card Style ------------------------------- */

.card-container {
  background: var(--card-background);
  overflow: hidden;

  width: 100%;
  height: 100%;
  padding: 30px;

  border: 2px solid var(--card-border);
  border-radius: 18px;

  text-align: left;
  font-family: 'Helvetica';
  line-height: 1.5;
}


.card-container h3 {
  display: inline-block;
  position: relative;
  font-size: 1.875rem;
  font-weight: 600;
  color: var(--card-border);
  margin: 0;
  text-transform: uppercase;
}

.card-container h4 {
  margin-top: 0.5rem;
  color: var(--card-border);
  font-size: 23px;
  margin-top: 1rem;
  margin-bottom: 0;
}

.card-container .card-text {
  margin-top: 12px;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 400;
}

.card-button {
  margin-top: 1rem;
}

/* -------------------------------------------------------------------------- */


/* --------------------- My Projects Card Custom Styling -------------------- */

/* my-projects-text-area gives its own padding so the projects content is full 
card width */
#my-projects-container.card-container {
  padding: 0;
}

#my-projects-text-area {
  float: left;
  width: 100%;
  padding: 30px;
}

.my-projects-images {
  height: 100%;
}

.card-image {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: rgb(87, 87, 87);
}

.card-image p {
  color: white;
  text-align: center;
  margin-top: 30%;
  font-size: large;
}

.card-image img {
  /* height: fit-content;
  width: 100%;
  object-fit: cover; */
}

/* -------------------------------------------------------------------------- */


/* -------------------------------- Utilities ------------------------------- */

.see-more-fade {
  -webkit-mask-image: linear-gradient(to bottom, black 15%, transparent 98%);
  mask-image: linear-gradient(to bottom, black 15%, transparent 98%);
}

.line-clamp-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.line-clamp-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* -------------------------------------------------------------------------- */