@import "main.css";

.large-social-card .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.7s;
  z-index: 1;
}

.large-social-card .icon {
  border-radius: 15px;
}

.large-social-card .icon.email {
  background: var(--social-email-color);
}

.large-social-card .icon.linkedin {
  background: var(--social-linkedin-color);
}

.large-social-card .icon.github {
  background: var(--social-github-color);
}

.large-social-card .icon.telephone {
  background: var(--social-phone-color);
}

.large-social-card .icon .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  transition: 0.7s;
  color: var(--card-background);
}

.large-social-card .icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  transition: 0.7s;
  color: var(--card-background);
}

.large-social-card .face {
  min-width: 250px;
  height: 200px;
  transition: 0.5s;
  border-radius: 15px;
}

.large-social-card .face.face1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.large-social-card .face.face1 .content i {
  max-width: 100px;
}

.large-social-card .face.face2 {
  position: relative;
  color: var(--card-background);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  transform: translateY(-200px);
}

.large-social-card {
  overflow: hidden;
  border: 2px solid var(--card-border);
  border-radius: 15px;
}

/* Default animation. */
.large-social-card:hover .face.face1,
.large-social-card>a:focus .face.face1 {
  transform: translateX(100%);
}

/* Animations for specific cards. */
.large-social-card:hover .face.face1.email,
.large-social-card>a:focus .face.face1.email {
  transform: translateX(100%);
}

.large-social-card:hover .face.face1.linkedin,
.large-social-card>a:focus .face.face1.linkedin {
  transform: translateY(100%);
}

.large-social-card:hover .face.face1.github,
.large-social-card>a:focus .face.face1.github {
  transform: translateX(-100%);
}

.large-social-card:hover .face.face1.telephone,
.large-social-card>a:focus .face.face1.telephone {
  transform: translateY(100%);
}

.large-social-card .face.face2 .content h3 {
  padding: 0;
  width: 100%;
  height: 100%;
  color: var(--card-background);
  font-size: 24px;
  text-align: center;
  color: var(--card-border);
}

.large-social-card a {
  color: var(--card-border);
}