/* Color scheme. */
/* TODO: Lemon lime colour scheme? */
/* Shallow gradient as the background? */
/* https://hookagency.com/blog/website-color-schemes/ */
:root {
  --header-color: #181818;
  /* nice light pink #ffb7b7; */
  --accent-color: #46b8ab;

  /* --card-background: #faf6ff; */
  --card-background: #ffffff;
  --card-border: #2e2e2e;

  --blog-color-main: #41b941;
  --dev-color-main: rgb(200, 26, 26);
  --journey-color-main: rgb(59, 137, 168);

  --social-linkedin-color: #6eadd4;
  --social-email-color: #e07768;
  --social-github-color: #4aada9;
  --social-phone-color: #997fb2;
}

/* Link colours. */
a {
  color: var(--accent-color);
}

/* -------------------------------------------------------------------------- */
/* a.link {
  box-shadow: inset 0 0 0 0 #54b3d6;
  color: #54b3d6;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

a.link:hover {
  box-shadow: inset 100px 0 0 0 #54b3d6;
  color: white;
} */
/* -------------------------------------------------------------------------- */

/* ------------------------------ Rainbow Links ----------------------------- */
a.link {
  color: inherit;
  text-decoration: none;
  background:
    linear-gradient(to right,
      rgba(100, 200, 200, 1),
      rgba(100, 200, 200, 1)),
    linear-gradient(to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1));
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}

a.link:hover,
a.link:focus {
  background-size: 0 3px, 100% 3px;
}

/* -------------------------------------------------------------------------- */

/* TODO: Link hover. Pop-out/enlarge text maybe? */

/* Highlight color. */
::selection {
  background: var(--accent-color);
  /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: var(--accent-color);
  /* Gecko Browsers */
}

/* TODO: Keep font on server and add a google fonts fallback. */
/* Fonts */
* {
  font-family: 'Helvetica';
}