@import 'main.css';

/* ----------------------------- Time Component ----------------------------- */

/* core styles */

.time {
  display: inline-flex;
}

.time__month {
  margin-left: .25em;
}

/* skin */

.time {
  padding: var(--timePadding, .25rem 1.25rem .25rem);
  background-color: #f0f0f0;

  font-size: var(--timeFontSize, .75rem);
  font-weight: var(--timeFontWeight, 700);
  text-transform: var(--timeTextTransform, uppercase);
  color: var(--timeColor, currentColor);
}


/* ----------------------------- Card Component ----------------------------- */

/* core styles */

.card {
  padding: 1.5rem 1.5rem 1.25rem;
}

.card__content {
  margin-top: .5rem;
}

/* skin */

.card {
  border-radius: 2px;
  border-left: 3px solid var(--uiTimelineMainColor);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24);
  background-color: #fff;
}

/* ------------------------------- CORE STYLES ------------------------------ */

.timeline {
  display: grid;
  grid-row-gap: 2rem;
}

/*
1. If timeline__year isn't displayed the gap between it and timeline__cards isn't displayed too
*/

.timeline__year {
  margin-bottom: 1.25rem;
  font-weight: 500;
  font-size: 1rem;
  /* 1 */
}

.timeline__cards {
  display: var(--timeloneCardsDisplay, grid);
  grid-row-gap: var(--timeloneCardsGap, 1.5rem);
}


/* SKIN */

.timeline {
  --uiTimelineMainColor: var(--timelineMainColor, #222);
  --uiTimelineSecondaryColor: var(--timelineSecondaryColor, #fff);

  border-left: var(--timelineLineWidth, 3px) solid var(--timelineLineBackgroundColor, var(--uiTimelineMainColor));
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}

.timeline__year {
  --timePadding: .5rem 1.5rem;
  --timeColor: var(--uiTimelineSecondaryColor);
  background-color: var(--accent-color);
}

.timeline__card {
  position: relative;
  margin-left: 1rem;
}

/* 1. Stopping cut box shadow */
.timeline__cards {
  overflow: hidden;
  padding-top: .25rem;
  /* 1 */
  padding-bottom: .25rem;
  /* 1 */
}

.timeline__card::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--uiTimelineMainColor);

  position: absolute;
  top: 1rem;
  left: -50%;
  z-index: -1;
}

/* -------------------------------------------------------------------------- */


/* -------------------------------- SETTINGS -------------------------------- */

.timeline {
  --timelineMainColor: var(--accent-color);
}

/* -------------------------------------------------------------------------- */

/* ---------------------------------- Image --------------------------------- */

/* TODO */
.company-image {
  float: left;
  width: 4rem;
  height: 4rem;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  margin-right: 0.8rem;
  margin-bottom: 0.8rem;
}

.company-image img {
  max-width: 100%;
  max-height: 100%;
}

/* ---------------------------------- PAGE ---------------------------------- */

p {
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.5;
}

p:last-child {
  margin-bottom: 0;
}

.page {
  max-width: 47rem;
  padding: 1rem 2rem 3rem 2rem;
  margin: 0 auto;
}

/* -------------------------------------------------------------------------- */

.h2-container {
  max-width: 49rem;
  padding-left: 1rem;
  margin: auto;
}

h2 {
  text-align: left;
  font-weight: 600;
  font-size: 2.5rem;
  margin-top: 0;
  color: var(--card-border);
}

h3 {
  font-weight: 500;
}